.inputTextStyles {
  background-color: #111;
  color: #fff;
  width: 80%;
  height: 200px;
  font-size: 28px;
  outline: none;
  border: none;
}

.displayText {
    font-size: 28px;
    width: 80%;
    height: 200px;
    display: block;
}
